<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        class Queue {
            constructor() {
                this.queued_items = new Array();
            }
            enqueue(element_in) {
                this.queued_items.push(element_in);
            }
            dequeue() {
                if (this.is_empty())
                    return "Error";
                return this.queued_items.shift();
            }
            front() {
                if (this.is_empty())
                    return "No elements in Queue";
                return this.queued_items[0];
            }
            is_empty() {
                return this.queued_items.length == 0;
            }
            output_queue() {
                let output;
                for (let i = 0; i < this.queued_items.length; i++)
                    output += this.queued_items[i] + " ";
                return output;
            }
            len() {
                return this.queued_items.length;
            }
        }

        let test_queue = new Queue();

        $(function () {
            let timer = window.setInterval(function () {
                loadNewDecimal()
            }, 1000)

            function loadNewDecimal() {
                $.ajax({
                    url: "/update_decimal",
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        test_queue.enqueue(data);
                        console.log(test_queue);
                        if (test_queue.len() == 10) {
                            clearInterval(timer);
                        }
                    }
                });
            }
        });
    </script>
</head>

