<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Fruit Catcher
        </title>
        <link rel="shortcut icon" href="/static/asset/bucket/bucket.png" />

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>
        <script src="{{ url_for('static', filename='/js/ajax.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/queue.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/interface.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/sound.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/fruit.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/powerup.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/punishment.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/explosion.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/bucket.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/main.js') }}" defer></script>
    </head>

    <body id="body" onload="page_loadup()">
        <div id="div-container">
            <div class="popup" id="popup-loading">
                <br>
                <img id="loading" width="1007" height="266" src="/static/asset/loading/loading.png">
            </div>
            <div class="popup" id="popup-gameover" onclick="reload_setup()">
                <br>
                <img id="gameover" width="1007" height="266" src="/static/asset/gameover/gameover.png">
                <div class="interact" id="final-score"></div>
                <div class="interact">
                    Click Anywhere to Play Again
                </div>
                <br>
            </div>
            <div class="popup" id="popup-start" onclick="onload_setup()">
                <br>
                <img id="title" width="1007" height="266" src="/static/asset/title/title.png">
                <div class="interact">
                    Click Anywhere to Begin
                </div>
                <br>
                <span class="interact">
                    Hover Here For Instructions
                </span>
                <pre>
                    <img src="/static/asset/instruction/instructions.png" height="185" width="417">
                </pre>
                <div id="popup-developer-name">
                    <a href="https://github.com/mattfung99" style="text-decoration: none">
                        <p id="matt-fung">
                            ** GITHUB || Matt Fung 2021 || Ver 1.0 **
                        </p>
                    </a>
                </div>
            </div>
            <div id="game-container">
                <div id="flex-container">
                    <div id="highscore"></div>
                    <div id="score"></div>
                    <div id="restart">
                        <button id="restart" onclick="restart_game()">
                            Restart Game
                        </button>
                    </div>
                </div>
                <div id="canvas-container"></div>
            </div>
        </div>
    </body>
</html>
