<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Fruit Catcher
        </title>
        <link rel="shortcut icon" href="/static/asset/bucket/bucket.png" />

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>
        <script src="{{ url_for('static', filename='/js/ajax.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/queue.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/interface.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/fruit.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/bucket.js') }}" defer></script>
        <script src="{{ url_for('static', filename='/js/main.js') }}" defer></script>
    </head>

    <body id="body" onload="onload_setup()">
        <div id="test-container">
            <div id="flex-container">
                <div id="highscore">
                    .
                </div>
                <div id="score">
                    .
                </div>
                <div id="restart">
                    <button id="restart">Restart Game</button>
                </div>
            </div>
            <div id="canvas-container"></div>
            <!-- <button id="make-ajax">Make Ajax Call</button> -->
        </div>
    </body>
</html>
